.App {
  text-align: center;
  background: #fb5607;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.heart {
  color: #ff0000;
}

.small {
  font-size: 0.75rem;
}

.question {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 20px;
}

.image {
  width: 60vw;
  height: 60vw;
  border-radius: 30px;
  display: inline-block;
  object-fit: cover;
  margin: 10px 0;
}

.answer {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  height: 4rem;
  display: block;
}

.answer-button {
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 100px;
  display: block;
  width: 60vw;
  padding: 20px;
  background: #ffbe0b;
  color: #FFF;
  border: none;
  outline: none;
}

.next-button {
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 100px;
  display: block;
  width: 60vw;
  padding: 20px;
  background: #3a86ff;
  color: #FFF;
  border: none;
  outline: none;
}